#contentBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 4rem 0rem 2rem 0rem;
}

.mainDescription {
    text-align: center;
    max-width: 80rem;
    margin: 1.5rem auto;
}

.colSpellBuff {
    width: 10rem;
}

.colAdjustedBuff {
    width: 10rem;
}

.controlsContainer {
    margin: 0rem 2rem;
    flex-basis: 40rem;
}

.schoolsContainerEntry span {
    color: var(--colorAccentDark);
    float: right;
    display: none;
    line-height: 115%;
    margin-right: 0.25rem;
}

.schoolsContainerEntrySelected1 .schoolCheck1 {
    display: inline;
}

.schoolsContainerEntrySelected2 .schoolCheck2 {
    display: inline;
}

.requirementUnmet {
    color: var(--colorRequirementUnmet);
}

.schoolBuff {
    color: var(--colorSchoolBuff);
}

.colStatLevelInput {
    width: 10rem;
}

.colSelectionInput {
    width: 18rem;
}

#schoolsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.schoolsContainerEntry {
    width: calc(50% - 1rem);
    background-color: #25251f;
    margin: 0rem 0.15rem 0.2rem 0.15rem;
    padding: 0.25rem 0.3rem;
    cursor: pointer;
}

.schoolsContainerEntry span {
    display: none;
}

.schoolsContainerEntrySelected span {
    display: inline;
}

#statTableDef thead tr th {
    text-align: center;
}

#statTableDef thead tr td:first-child {
    text-align: left;
}

.displayColName {
    text-align: left;
    white-space: nowrap;
}

.leftAlign {
    text-align: left;
}

/*

Table jank =======================

*/


#spellList thead tr th {
    top: 0;
    position: sticky;
    border-bottom: 0.2rem var(--colorBG) solid;
    background-color: #413d33;
}

#spellList thead tr th {
    left: 0;
    position: sticky;
    z-index: 1;
    border-right: 0.2rem var(--colorBG) solid;
}

#spellList thead tr th:first-child {
    z-index: 2;
}

#spellList tr td:first-child {
    left: 0;
    position: sticky;
    z-index: 1;
    border-right: 0.2rem var(--colorBG) solid;
}

#spellList tbody tr:nth-child(odd) td {
    background-color: #31302d;
}

#spellList tbody tr:nth-child(even) td {
    background-color: #35332a;
}

#spellList tbody tr td {
    white-space: nowrap;
}

/* ================ */

#outputDirectDamage, #outputOtherSpells {
    overflow-x: auto;
    overflow-y: auto;
    max-height: calc((var(--calculatedVH) * 100) - 3rem);
    margin: 0rem 0rem 1.5rem 0rem;
}

/* Mobile support, M'lord - Boc, 2022 */

@media screen and (max-width: 550px) {
    h1 {
        font-size: calc(100vw / 13.75);
    }
}

@media screen and (max-width: 325px) {
    :root {
        font-size: 8px;
    }
}

@media screen and (min-width: 326px) and (max-width: 375px) {
    :root {
        font-size: 9px;
    }
}

@media screen and (max-width: 400px) {
    #spellList, #spellList thead tr th {
        font-size: 8px;
    }
}

@media screen and (min-width: 401px) and (max-width: 900px) {
    #spellList, #spellList thead tr th {
        font-size: calc(100vw / 56.25);
    }
}

/* M'lord! M'lord! */